.checkout {
  display: flex;
  justify-content: space-between;
  // gap: 20rem;
  margin-top: 8rem;
  // flex-direction: column;
  .img {
    width: 15rem;
  }
  .orderDetails {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
  }
  .itemDetails {
    max-width: 15rem;
  }

  .orderSummary {
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    
  }
  
  .paymentBtn{
    width: 10rem;
    height: 2rem;
  }
}
